// Define variables for your color scheme

// For example:
$red: #DB5461;
//#EE5F5B
$blue: #759FBC;
// #469AE0
$yellow:#F7B32B;
// #FDB631
$orange: #BA5624;
// #E67E22
$green: #8CBA80;
// #32B796
$gray: #D0CFCF;
// #000000
$light-gray: #FFFBFE;
// #F4F4F4
